.container,
.inner-footer {
    width: 100%;
    padding: 1.4rem 1rem;
    overflow: auto;
    box-sizing: border-box;
}

::selection,
::-moz-selection {
    background: $minionYellow;
}

.main-title {
    font-size: 2.4rem;
    margin-bottom: 1.4rem;
}

.toc {
    display: none;
}

@media (min-width: 768px) {
    .container,
    .inner-footer {
        width: 740px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 992px) {
    .container,
    .inner-footer {
        width: 960px;
    }

    .week-container {
        width: 100%;
        margin-bottom: 16rem;
    }

    .week {
        width: auto;
        margin-left: 350px;
    }

    .main-title {
        font-size: 4rem;
        margin-bottom: $mainLineHeight * $mainPFontSize * $fontScaleFactor;
    }

    .toc {
        width: 310px;
        display: block;
        text-align: right;
        position: fixed;
        top: 12rem;
    }

    .toc ul {
        list-style-type: none;
        font-size: 1.4rem;
        margin: 0;
    }

    .breadcrump {
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .container,
    .inner-footer {
        width: 1160px;
    }
}
