* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
    font-family: sans-serif;
}

body {
    font-display: auto;
    line-height: 1.4;
    margin: 0;
}
